{% extends 'base.html' %}
{% block content %}
    <div class="signup div_form">
        <h2>Inscription</h2>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post" novalidate>
            {{ form.as_p }}
            {% csrf_token %}
            <div class="signup_c01">
                <input type="submit" value="S'inscrire">
            </div>
        </form>
        <p><a href="{% url 'home' %}">Retour</a></p>
    </div>
{% endblock content %}