{% extends 'base.html' %}
{% load review_extras %}

{% block content %}
<div class="flux">
    <div class="flux__div">
        <a href="{% url 'ticket_create' %}" class="flux__a" title="Demander une critique">+</a>
        <p>Demande</p>
        <a href="{% url 'ticket_review_create' %}" class="flux__a" title="Ajouter une critique">+</a>
        <p>Critique</p>
    </div>

{% for post in posts %}
    {% if post.content_type == 'TICKET' %}

        {% include 'review/partials/ticket_snippet.html' with ticket=post%}

    {% else %}

        {% include 'review/partials/review_snippet.html' with review=post%}

    {% endif %}

{% endfor %}
</div>

{% endblock content %}