{% extends 'base.html' %}
{% load static %}
{% block extra_js %}
    <script type="module" src="{% static 'js/review.js' %}"></script>
{% endblock extra_js %}

{% block content %}

<div class="div_form">
    <h2>Modfier votre critique pour cette demande :</h2>

    {% include 'review/partials/ticket_snippet.html' %}

    <p>Critique</p>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <input type="submit" value="Enregistrer">
        </div>
    </form>
    <a href="{% url 'posts' %}">Annuler</a>
</div>

{% endblock content %}