{% extends 'base.html' %}
{% load static %}
{% block extra_js %}
    <script type="module" src="{% static 'js/review.js' %}"></script>
{% endblock extra_js %}

{% block content %}
    <div class="div_form">
        <h2>Créer une demande de critique et une critique</h2>
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <section>
                <h3>La demande de critique</h3>
                {{ ticket_form.as_p }}
            </section>

            <hr>

            <section>
                <h3>La critique</h3>
                {{ review_form.as_p }}
            </section>
            <div>
                <input type="submit" value="Envoyer">
            </div>
        </form>
        <a href="{% url 'flux' %}">Annuler</a>
    </div>
{% endblock content %}