{% extends 'base.html' %}
{% block content %}

<div class="div_form">
    <h2>Mise à jour d'un ticket</h2>

    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% for field in form %}

            {% if field.name == 'image' and field.value %}
                {{ field.label_tag }}<br>
                <img src="{{ field.value.url }}"><br>
                {{ field }}
            {% else %}
                {{ field.label_tag }}<br>
                {{ field }}<br>
            {% endif %}
            {{ field.errors }}
        {% endfor %}
        <div>
            <input type="submit" value="Enregistrer">
        </div>
    </form>
    <a href="{% url 'posts' %}">Annuler</a>
</div>

{% endblock content %}