{% extends 'base.html' %}
{% block content %}
    <h1>Mise à jour d'un ticket</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% for field in form %}

            {% if field.name == 'image' and field.value %}
                <img src="{{ field.value }}">
            {% else %}
                {{ field.label_tag }}<br>
                {{ field }}<br>
            {% endif %}
            {{ field.errors }}
        {% endfor %}
        <input type="submit" value="Enregistrer">
    </form>
{% endblock content %}