{% extends 'base.html' %}
{% load static %}
{% block extra_js %}
    <script type="module" src="{% static 'js/review.js' %}"></script>
{% endblock extra_js %}

{% block content %}
    <div class="div_form">
        <h2>Vous êtes en train de poster en réponse à</h2>
        {% include 'review/partials/ticket_snippet.html'%}
        <h3>Critique</h3>
        <form action="" method="post" novalidate>
            {% csrf_token %}

            {{ form.as_p }} 
        <div>
            <input type="submit" value="Envoyer">
        </div>
        </form>
        <a href="{% url 'flux' %}">Annuler</a>
    </div>

{% endblock content %}