{% extends 'base.html' %}
{% block content %}
    <h1>Mise à jour d'un ticket</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% for field in form %}

            {% if field.name == 'image' and field.value %}
                {{ field.label_tag }}<br>
                <img src="{{ field.value.url }}"><br>
                {{ field }}
            {% else %}
                {{ field.label_tag }}<br>
                {{ field }}<br>
            {% endif %}
            {{ field.errors }}
        {% endfor %}
        <br>
        <input type="submit" value="Enregistrer">
    </form>
    <button><a href="{% url 'posts' %}">Annuler</a></button>
{% endblock content %}