{% load static %}
<html>
    <head>
        <title>LITRevu</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <div class="main">

        <!-- {% if messages %}
            <div id="user_messages">
            {% for message in messages %}
                <p class="{{ message.tags }}">
                    {{ message }}
                </p>
            {% endfor %}
            </div>
        {% endif %} -->

        <p>LITReview</p>

        {% if user.is_authenticated %}
            Bienvenu(e) {{ request.user }} -------------- 
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
             <a href="{% url 'abonnements' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        {% endif %}
        
        {% block content %}{% endblock content %}
        </div>
    </body>
</html>
