{% load static %}
<html>
    <head>
        <title>LITRevu</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <div class="main">
        {% if messages %}
            <div id="user_messages">
            {% for message in messages %}
                <p class="{{ message.tags }}">
                    {{ message }}
                </p>
            {% endfor %}
            </div>
        {% endif %}
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
