{% load review_extras %}

<div class="review">

    <div class="review__container">

        <div>{% get_poster_display review.user %} publié une critique</div>

        <div>{{ review.time_created }}</div>

        <div class="review__star_container">
            <span class="{% if review.rating >= 1 %}filled{% endif %}">★</span>
            <span class="{% if review.rating >= 2 %}filled{% endif %}">★</span>
            <span class="{% if review.rating >= 3 %}filled{% endif %}">★</span>
            <span class="{% if review.rating >= 4 %}filled{% endif %}">★</span>
            <span class="{% if review.rating >= 5 %}filled{% endif %}">★</span>
        </div>

    </div>


    <p class=".review__star_container_headlin">{{ review.headline }}</p>
   
    <p class="review_c04">{{ review.body}}</p>


    {% include 'review/partials/ticket_snippet.html' with ticket=review.ticket %}

    <div class="ticket_action">
        {% if review.view == 'POSTS' %}
            <br>
            <a href="{% url 'review_update' review.id %}" class="linkbutton linkbutton--medium">Modifier</a>
            <a href="{% url 'review_delete' review.id %}" class="linkbutton linkbutton--medium">Supprimer</a>
        {% endif %}
    </div>

</div>