{% load review_extras %}

{% if ticket.content_type == 'TICKET' %}
    <div class="ticket ticket--border">
{% else%}
    <div class="ticket ticket--background">
{% endif %}

    <div class="ticket_containeur">
        <div>
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt='image de la couverture du livre "{{ ticket.title }}"'>
            {% else %}
                <img src="{{ MEDIA_URL }}livre_defaut.jpg"  alt="image générique d'un livre">
            {% endif %}
        </div>

        <div class="ticket_containeur__detail">
            <p class="ticket_containeur__div_title">{{ ticket.title }}</p>

            <br>
            <p>{% get_poster_display ticket.user %} demandé une critique</p>

            {% if ticket.content_type == 'TICKET' %}
                <p class="ticket_containeur__date">{{ ticket.time_created }}</p>
            {% endif %}

            {% if ticket.content_type == 'TICKET' %}
                <br>
                <p class="ticket_containeur__description">{{ ticket.description }}</p>
            {% endif %}
        </div>
    </div>

    <div class="ticket_action">
        {% if ticket.nb_reviews == 0 %}
            <br>
            <a href="{% url 'ticket_review' ticket.id %}" class="linkbutton linkbutton--medium">Créer une critique</a>
        {% endif %}

        {% if ticket.view == 'POSTS' %}
            <br>
            <a href="{% url 'ticket_update' ticket.id %}" class="linkbutton linkbutton--medium">Modifier</a>
            <a href="{% url 'ticket_delete' ticket.id %}" class="linkbutton linkbutton--medium">Supprimer</a>
        {% endif %}
    </div>

</div>