:root {
  --width_desktop: 837px;
  --green_dark: #0c3c26;
  --green_medium: #1d915c;
  --green_ligth: #C9F0DD;
  --gray_light: #f8f8f8;
  --pink: #6a0e0e;
  --light: #fafafa;
  --dark: #000000;
}

[data-theme="dark"] {
  --green_dark: #000000;
  --green_medium: #fafafa;
  --green_ligth: #fafafa;
  --gray_light: #fafafa;
  --pink: #000000;
  --light: #000000;
  --dark: #000000;
}

#theme_toggle {
  background-color: var(--green_dark);
  padding-left: 4px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 4px;
}

.icon_sun {
  font-size: 1.5rem;
  background-color: var(--green_dark);
}

.icon_moon {
  font-size: 1.5rem;
  background-color: var(--green_dark);
}

[data-theme="light"] .icon_moon {
  display: none;
}

[data-theme="dark"] .icon_sun {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    min-height: 100dvh;
}

/* header */

.header{
  position: sticky;
  top: 0;
  background-color: var(--green_dark);
  height: 50px;
  display: flex;            
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1000;
}

.header__p {
  display: inline-block;
  margin-right: 10px;
}

.header__p--medium {
  color: var(--green_medium);
  font-size: 2rem;
  
}

.header__p--small {
  color: var(--green_medium);
  font-size: 1rem;
  width: 180px;
}


.header__a--no_activate {
  color: var(--green_medium);
  font-size: 1.2rem;
  text-decoration: none;
}

.header__a--no_activate:hover {
  text-decoration: underline;
}

.header__a--activate {
  color: var(--green_medium);
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  text-decoration: underline;
}

/* main */

main {
  flex: 1; /* Force cette section à prendre tout l'espace disponible */
  padding: 0.5rem;
  background-color: var(--gray_light);
}

/* footer */

footer {
  background-color: var(--green_medium);
  padding: 0.1rem;
  text-align: center;
  position: sticky;
  bottom: 0;
  height: 20px;
}

/* linkbutton */

.linkbutton {
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
}

.linkbutton--medium {
  border-color: var(--dark);
  background-color: var(--green_medium);
  color: var(--light);
}

.linkbutton--light {
  border-color: var(--green_medium);
  background-color: var(--green_ligth);
  color: black;
}

/* user_messages */

#user_messages {
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    color: var(--light);
    position: fixed;
    bottom: 20px;
}

/* .div_form */

.div_form {
  margin-top: 60px;
  width: fit-content;
  padding: 20px;
  border: 1px solid var(--green_dark);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--green_ligth);
}

.div_form form{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* limite du BEM avec Django et les ModelsForm, par défaut on ne contrôle pas la classe
des éléments du formulaire */
.div_form label {
  display: block;
  width: fit-content;
}

.div_form input {
  font-size: 1rem;
  padding: 5px;
  margin: 2.5px;
  font-family: inherit;
  width: 100%;
}

.div_form textarea {
  width: 100%;
  margin: 2.5px;
  font-size: 1rem;
  font-family: inherit;
  padding: 3px;
}

.div_form select{
  width: 100%;
  padding: 5px;
  margin: 2.5px;
}

.div_form input[type="file"] {
  margin: 2.5px;
  width: 100%;
  padding: 0px;
}

.div_form input[type="submit"] {
  border: 1px solid var(--green_dark);
  border-radius: 5px;
  background-color: var(--green_medium);
  cursor: pointer;
  color: var(--light);
  width: fit-content;
}

.div_form h2 {
  color:var(--green_dark);
  text-align: center;
  font-size: 1rem;
  width:355px;
}

.div_form h3 {
  color:var(--green_dark);
  text-align: center;
  font-size: 0.8rem;
}

.div_form hr {
  margin: 2.5px;
}

.div_form div:has(input[type="submit"]) {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  margin: 2.5px;
  padding: 5px;
}

/* flux */

.flux__div {
  display: flex;
  flex-direction: column;        
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  position: fixed;
  top: 70px;
  left: 20px;
  padding: 10px;
}

.flux__a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid;
  border-color: var(--green_dark);
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--green_medium);
  color: var(--light);
  text-decoration: none;
}

.flux__a:hover {
  background-color: var(--green_dark);
}

/* ticket */

.ticket {
  padding: 5px;
  width: fit-content;
  height: 260px;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
}


.ticket--border {
  border: 1px solid black;
  border-radius: 8px;
  width: 600px;
  background-color: var(--green_ligth);
}

.ticket--background {
  background-color: var(--green_ligth);
  border-radius: 8px;
  width: 580px;
}

.ticket_containeur {
  display: flex;
  flex-direction: row;
}

.ticket_containeur img {
  width: 150px;
  height: 244px;
  object-fit: cover;
}

.ticket_containeur__detail {
  padding-left: 10px;
  padding-right: 10px;
}

.ticket_containeur__div_title {
  font-size: 1.5rem;
}

.ticket_action{
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 25px;
  margin-right: 15px;
}

.ticket_containeur__description  {
  font-size: 1rem;
  font-style: italic;
  color: var(--green_dark);
  font-weight: 500;
}

.ticket_containeur__date  {
  font-size: 0.8rem;
}

/* review */

.review {
  padding: 5px;
  width: fit-content;
  width: 600px;
  height: 260px;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: fit-content;
}

.review__container {
  display: flex;            
  justify-content: space-between;
  align-items: center;
}

.review__star_container {
  display: inline-block;
}

.review__star_container span {
   color: #ccc;
   font-size: 25px;
}

.review__star_container .filled { 
  color: orange;
}

.review__star_container_headline {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.review__star_container_body {
  font-size: 1rem;
  font-style: italic;
  color: var(--green_dark);
  font-weight: 500;
  margin-bottom: 10px;
}

/* signup */

.signup span {
  display: block;
  width: fit-content;
}

.signup button {
  font-size: 1.2rem;
}

/* id_rating */

#id_review-rating {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 2.5px;
    justify-content: left;
}

#id_review-rating > div {
    display: inline-block;
}

#id_review-rating > div:first-child {
    display: none;
}

#id_review-rating input[type="radio"] {
    display: none;
}

#id_review-rating label {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 6px;
    border: 1px solid var(--green_dark);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.5rem;
    font-weight: 700;
}

#id_review-rating label:hover {
    background-color: var(--green_medium);
    color: var(--light);
}

.rating_active{
    background-color: var(--green_dark);
    color: white;
}

/* subscription */
.subscription{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.subscription p{
  display: block;
  width: 100%;
  padding: 3px;
  border: 1px solid var(--dark);
}

.subscription__form-no_margin{
  margin: -10px !important;
}