:root {
  --width_desktop: 837px;
  --green_dark: #0c3c26;
  --green_medium: #1d915c;
  --green_ligth: #C9F0DD;
  --gray_light: #f8f8f8;
  --pink: #6a0e0e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    min-height: 100dvh;
}

header{
  position: sticky;
  top: 0;
  background-color: var(--green_dark);
  height: 50px;
  display: flex;            
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1000;
}

main {
  flex: 1; /* Force cette section à prendre tout l'espace disponible */
  padding: 0.5rem;
  background-color: var(--gray_light);
}

footer {
  background-color: var(--green_medium);
  padding: 0.1rem;
  text-align: center;
  position: sticky;
  bottom: 0;
  height: 20px;
}

.lien_1{
  padding: 5px;
  border-style: solid;
  border-radius: 8px;
  border-width: 0px;
  border-color: var(--green_medium);
  background-color: var(--green_medium);
  color: white;
  cursor: pointer;
}

.lien_2{
  padding: 5px;
  border-style: solid;
  border-radius: 8px;
  border-width: 0px;
  border-color: var(--green_medium);
  background-color: var(--green_ligth);
  color: black;
  cursor: pointer;
}

header .c01{
  color: white;
  font-size: 2rem;
  display: inline-block;
  margin-right: 10px;
}

header .c02{
  color: var(--green_medium);
  font-size: 1rem;
  width: 180px;
  display: inline-block;
}

header a{
  color: white;
  font-size: 1.2rem;
}

#user_messages{
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    color: rgb(255,255,255);
    position: fixed;
    bottom: 20px;
}

/* .div_form */

.div_form {
  margin-top: 60px;
  width: fit-content;
  padding: 30px;
  border: 1px solid var(--green_dark);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--green_ligth);
}

.div_form label{
  display: block;
  width: fit-content;
}

.div_form input{
  font-size: 1.5rem;
  padding: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.div_form h2{
  color:var(--green_dark);
  margin-bottom: 10px;
}

.div_form div:has(input[type="submit"]){
  display: flex;
  justify-content: right;
  width: 100%;
  margin-bottom: 20px;
}

/* FLUX */

#flux{
  position: relative;
}

#flux .flux_c01{
  display: flex;
  flex-direction: column;        
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  position: fixed;
  top: 70px;
  left: 20px;
  padding: 10px;
}

#flux .flux_c01 a{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid;
  border-color: var(--green_dark);
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--green_medium);
  color: white;
}

#flux .flux_c01 a:hover{
  background-color: var(--green_dark);
}

/* TICKET */

#ticket{
  padding: 5px;
  width: fit-content;
  height: 260px;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
}


#ticket.ticket_c08{
  border: 1px solid black;
  border-radius: 8px;
  width: 600px;
  
}

#ticket.ticket_c09{
  background-color: var(--green_ligth);
  border-radius: 8px;
  width: 580px;
}

#ticket .ticket_c05{
  display: flex;
  flex-direction: row;
}

#ticket img{
  width: 150px;
  height: 244px;
  object-fit: cover;
}

#ticket .ticket_c02{
  padding-left: 10px;
  padding-right: 10px;
}

#ticket .ticket_c03{
  font-size: 1.5rem;
}

#ticket .ticket_c04{
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
}

#ticket .ticket_c04 a{
  margin-right: 10px;
  margin-left: 5px;
}

#ticket .ticket_c06{
  font-size: 1rem;
  font-style: italic;
  color: var(--green_dark);
  font-weight: 500;
}

#ticket .ticket_c07{
  font-size: 0.8rem;
}

/* REVIEW */

#review{
  padding: 5px;
  width: fit-content;
  width: 600px;
  height: 260px;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: fit-content;
}

#review .review_c02{
  display: flex;            
  justify-content: space-between;
  align-items: center;
}

#review .review_c01{
  display: inline-block;
}

#review .review_c01 span{
   color: #ccc; font-size: 25px;
}

#review .review_c01 span.filled { 
  color: orange;
}

#review .review_c03{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#review .review_c04{
  font-size: 1rem;
  font-style: italic;
  color: var(--green_dark);
  font-weight: 500;
  margin-bottom: 10px;
}

/* LOGIN */

#login .login_c02{
  text-decoration: underline;
}

/* SIGNUP */

#signup span{
  display: block;
  width: fit-content;
}

#signup button{
  font-size: 1.2rem;
}

#signup .signup_c02{
  text-decoration: underline;
}

/* TICKET_CREATE */

#ticket_create{

}